/* stylesheet.css */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  z-index: 10;
  padding-right: 15px;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
  margin-left: 15px;
}

.header-right {
  float: right;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(top.png);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 0.7;
  font-size: 16px;
  margin-bottom: 40px;
}

.btn-wrapper {
  text-align: center;
}

.btn-wrapper p {
  margin-bottom: 20px;
}

.signup {
  background-color: #239b76;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

.lesson-wrapper {
  /* ... */
}

/* ... */
